{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid-lg-sm-md" style="background-image:url({% static 'images/userpage.jpg' %});background-repeat: repeat;background-size:100%;height:auto;color:azure;padding-top:80px;">    

       
             
    <center><h1 style="color:red;font-family:Fantasy,Copperplate"> WELCOME ADMIN</h1></center>
<br>
    <table class="table table-light table-striped" style="opacity:0.8;text-align:center">
        <thread>
        <tr>
            <th>USER TYPE</th>
            <th>NAME</th>
            <th>EMAIL</th>

        </tr>
        </thread>    

        <TBody>
            {% for l in log %}
            <tr>
                <td>{{l.usertype}}</td>          
                <td>{{l.username}}</td>
                <td>{{l.email}}</td>
            </tr>
            {% endfor %}
        </TBody>    
    </table>

   <center><a class="btn btn-danger" style="width:100px" href="/lt/">LOGOUT</a></center>
             
</body>
</html>