{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container-lg-sm-md-xl" style="background-image:url({% static 'images/userpage.jpg' %});background-repeat: repeat;background-size:100%;height:auto;color:azure;padding-top:50px;text-align: center;">
<h1>Expect the Worst but Prepare your Best !!!!</center>  </h1>

<br>
  <table class="table table-striped table-light" style="opacity:0.9">    
    
       <thread>
        <tr>
            <th>GET READY !!!!</th>
            <th>Alerts</th>
            <th>Time Left !!!!</th>

        </tr>
        </thread>    

        <TBody>
        {% for l in ent %}
            <tr>           
            <td>
            {% if l.past_date %}
                <strike>You had an Interview scheduled with {{l.c_name}} for the post of {{l.c_post}} on date {{l.scd_date}}<strike> 
           
            {% elif l.more_than_one_day %}
                You have an Interview scheduled with {{l.c_name}} for the post of {{l.c_post}} on date {{l.scd_date}}  

            {% elif l.less_than_one_day %}
               You have an Interview scheduled with {{l.c_name}} for the post of {{l.c_post}} on date {{l.scd_date}}  

            {% elif l.int_date %}
                Don't forget the interview with {{l.c_name}} for the post of {{l.c_post}} today!!{{l.scd_date}}

            {% endif %}
            </td>

            <td>
            {% if l.past_date %}
                <button class="btn btn-light"> You missed an Interview </button>
           
            {% elif l.more_than_one_day %}
                <button class="btn btn-warning"> Upcoming Interview</button>

            {% elif l.less_than_one_day %}
                <button class="btn btn-danger">Only one day Left !!!</button>  

            {% elif l.int_date %}
                <button class="btn btn-info">All the best !!!</button>

            {% endif %}
            </td>

            <td> <button class="btn btn-success"><b>Due in :<b>{{ l.scd_date|timeuntil}}<b></button></td>
             <tr>
        {% endfor %}
        </TBody>
    </table>     
    <center><a href="/ent/" class="btn btn-warning">Go to Homepage</a></center>

</body>
</html>
