{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container-lg-sm-md" style="background-image:url({% static 'images/userpage.jpg' %});background-repeat: repeat;background-size:100%;height:auto;color:azure;padding-top:80px;text-align: center;">

<div class="container">
<h2> EDIT YOUR FORM </h2>

<form method="POST" enctype="multipart/form-data" action="/Update/{{ent.id}}"> 
    {% csrf_token %}
        

     <div class="form-group">
    <input type="text" class="form-control" name="c_name"  value={{ent.c_name}} >
        </div>

     <div class="form-group">
    <input type="text" class="form-control" name="c_post"  value={{ent.c_post}} >
        </div>

     <div class="form-group">
    <input type="text" class="form-control" name="c_email"  value={{ent.c_email}} >
        </div>

     <div class="form-group">
    <input type="text" class="form-control" name="c_url" value={{ent.c_url}} >
        </div>
 
      <div class="form-group">
    <input type="text" class="form-control" name="c_contact" value={{ent.c_contact}} >
         </div> 

      <div class="form-group">
    <input type="text" class="form-control" name="date_applied"  value={{ ent.date_applied}} >
        </div>  
      <div class="form-group">
   <input type="text" class="form-control" name="scd_date"  value={{ent.scd_date}} >
        </div>  

    <div class="form-group" style="display:inline-block">
    <label style="text-align:left"><b>Did The Reruiter Call ?<b></label>          
    <input type="text" class="form-control" name="rec_called" value={{ent.rec_called}}>
    {% comment %} <input type="text" class="form-control" name="rec_called" value={{ent.rec_called}}> {% endcomment %}
   </div>  

     <div class="form-group">
    <label style="text-align:left"><b>Interview Rounds Cleared<b></label>          
    <input type="number" class="form-control"name="int_rounds_cleared"  value={{ent.int_rounds_cleared}}>
        </div> 

    <div class="form-group">
    <label >Questions Asked</label><input type="text" class="form-control"   name="que_asked" value={{ent.que_asked}}>
        </div> 

     <div class="form-group">
    <label >Self Analysis</label><input type="text" class="form-control"  name="self_analysis" value={{ent.self_analysis}}><br>
        </div>  

     <div class="form-group">
    <label >Response Status</label>                 <br>
    <input type="radio" name="resp_status" value={{ent.resp_status}}>Selected<br>
    <input type="radio" name="resp_status" value={{ent.resp_status}}>Selected for Next Round<br>
    <input type="radio" name="resp_status" value={{ent.resp_status}}>Rejected<br>
    <input type="radio" name="resp_status" value={{ent.resp_status}}>No Update<br>  
        </div> 

    <button class="btn btn-success"type="submit" >UPDATE</button>
   
</form>  
 {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <b>{{ field }}</b>: {{ error }}
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
</div>
</body>
</html>